[Desktop Entry]
Name=Sakura
Comment=Use the command line
TryExec=sakura
Exec=sakura
Icon=terminal-tango
Type=Application
Categories=GTK;Utility;TerminalEmulator;System;
StartupNotify=true
X-Ubuntu-Gettext-Domain=sakura
